@model ShopQuanAo.Models.Mproduct

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Mproduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.catid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pricesale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pricesale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metakey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metakey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metadesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metadesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
