@model ShopQuanAo.Models.Muser
@{
    ViewBag.Title = "Trang Chu";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@Html.Action("Mainmenu", "module")
<section class="pt-5 pb-5">
    <div class="container bg-white card ">
        <h4 class="text-cam font-weight-bold text-center pt-2"> Đổi Mật Khẩu</h4>
        <div class="row justify-content-center pt-2 pb-5">
            <div class="col-md-6  text-center">
                @using (Html.BeginForm("newPasswordFG", "Auth", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.created_at)
                    @Html.HiddenFor(model => model.created_by)
                    @Html.HiddenFor(model => model.img)
                    @Html.HiddenFor(model => model.gender)
                    @Html.HiddenFor(model => model.status)
                    @Html.HiddenFor(model => model.fullname)
                    @Html.HiddenFor(model => model.username)
                    @Html.HiddenFor(model => model.email)
                    @Html.HiddenFor(model => model.phone)
                    <div class=" row ">
                        <div class="col-md-12">
                            <div>
                                <label for="psw"><span>Mật Khẩu mới</span></label>
                                <input type="password" name="password1" value="" placeholder="Mật khẩu mới" required />
                            </div>
                            <div>
                                <label for="psw"><span>Nhập lại mật khẩu</span></label>
                                <input type="password" name="rePass" value="" placeholder="Nhập lại mật khẩu" required />
                            </div>
                            <span class="text-danger">@ViewBag.status</span>
                        </div>
                    </div>
                    <div class="pb-3 float-right">
                        <button type="submit" class="btn-button bg-danger">Đổi mật khẩu</button>
                    </div>

                }


            </div>
        </div>
    </div>
    @ViewBag.username;


</section>
