@model ShopQuanAo.Models.Mslider

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    List<SelectListItem> status = new List<SelectListItem>();
    SelectListItem statusitem1 = new SelectListItem() { Value = "1", Text = "Hiện" };
    SelectListItem statusitem2 = new SelectListItem() { Value = "2", Text = "Ẩn" };
    status.Add(statusitem1);
    status.Add(statusitem2);


    SelectListItem listorderitem;
    List<SelectListItem> listorder = new List<SelectListItem>();
    foreach (var item in ViewBag.listCate)
    {
        listorderitem = new SelectListItem() { Value = item.orders + "", Text = "Sau [" + item.name + "]" };
        listorder.Add(listorderitem);

    }

    List<SelectListItem> position = new List<SelectListItem>();

    SelectListItem position1 = new SelectListItem() { Value = "SliderShow", Text = "SliderShow" };
    position.Add(position1);
}
@Html.Partial("~/Areas/Admin/Views/Shared/_topMenu.cshtml")
@Html.Partial("~/Areas/Admin/Views/Shared/_leftMenu.cshtml")
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row m-0 bg-light">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Cập Nhật Ảnh Bìa</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Admin">Home</a></li>
                        <li class="breadcrumb-item active">Thêm sản phẩm</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <section class="pt-2">
        @Html.Partial("_MessgeAlert")
        <div class="container bg-white pt-4 ">

            @using (Html.BeginForm("Edit", "Slider", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.img)
                @Html.HiddenFor(model => model.created_at)
                @Html.HiddenFor(model => model.created_by)
                <div class=" row ">
                    <div class="col-md-4">  </div>
                    <div class="col-md-4"> <h3 class="text-center font-weight-bold text-success "> THÊM LOẠI SẢN PHẨM</h3> </div>
                    <div class="col-md-4 ">
                        <div class="float-right">
                            <button class="btn btn-sm bg-success text-white"><i class="far fa-save"></i> Lưu</button>
                            <a href="~/admin/category" class="btn btn-sm bg-danger text-white"><i class="far fa-window-close"></i> Hủy</a>
                        </div>
                    </div>
                </div>
                <div class=" row ">
                    <div class="col-md-8">
                        <div>
                            <label for="psw"><b class="text-secondary ">Tên Slider</b></label>
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label for="psw"><b class="text-secondary ">Loại Slider</b></label>
                            @Html.DropDownListFor(model => model.position, position, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.position, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label for="psw"><b class="text-secondary ">Chọn vị trí hiển thị</b></label>
                            @Html.DropDownListFor(model => model.orders, listorder, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.orders, "", new { @class = "text-danger" })
                        </div>
                        <label for="psw"><b class="text-secondary ">Hình ảnh Slider</b></label>
                        <input type="file" name="img" class="form-control" />
                        @Html.ValidationMessageFor(model => model.img, "", new { @class = "text-danger" })
                        <div>
                            <label for="psw"><b class="text-secondary ">Trang Thái</b></label>
                            @Html.DropDownListFor(model => model.status, status, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>
            }
        </div>
    </section>
    <script>
        $("#slider").addClass("active");
    </script>
