@model IEnumerable<ShopQuanAo.Models.Mtopic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.Partial("~/Areas/Admin/Views/Shared/_topMenu.cshtml")
@Html.Partial("~/Areas/Admin/Views/Shared/_leftMenu.cshtml")
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row m-0">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Thùng rác Loại bài viết</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Thùng rác Loại bài viết</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


  
    <section class="container-fluid ">
        <div class=" bg-white card  ">
            <div class="row justify-content-end">
                <div class="col-md-3">
                    <div class=" pt-1 ml-5">
                        <a class="text-white btn-sm btn-success" href="~/admin/Topic/Create">Add Product <i class="fas fa-plus"></i></a>
                        <a class="text-white btn-sm btn-danger " href="~/admin/Topic/trash">Thùng rác<i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9  w-100 ">
                    @Html.Partial("_MessgeAlert")
                </div>
                <div class="col-md-12 p-3">

                    <table class="table px-3 table-striped table-bordered dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>Tên chủ đề</th>
                                <th>Slug</th>

                                <th>Ngày Tạo</th>
                                <th>Chức Năng</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td><a class=" font-weight-bold card-link " href=""> @Html.DisplayFor(modelItem => item.name)</a></td>
                                    <td> @Html.DisplayFor(modelItem => item.slug)</td>

                                    <td style="font-size:14px;">@Html.DisplayFor(modelItem => item.created_at)</td>
                                    <td>
                                        <a class="btn btn-sm btn-light text-dark border" href="@Url.Action("Retrash", "topic", new { id = item.ID })"> <i class="fas fa-undo"></i></a>
                                        <a class="btn btn-sm btn-light text-danger border" href="@Url.Action("deleteTrash", "topic", new { id = item.ID })">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                    <td class="text-cam ">@Html.DisplayFor(modelItem => item.ID)</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </section>
    <script>
        $("#topic").addClass("active");
    </script>
